<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h1>insert into access</h1>
            <!-- <label for="topic">webpage</label> -->
            {% for to in topic %}
                <label for="topic">{{to.topic_name}}</label>
                <input type="checkbox" name="topic" id="topic" value="{{to}}">
                <br><br>
            {% endfor %}
            <input type="submit" value="retrieve">
            <!-- <br><br>
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
            <br><br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
            <br><br>
            <input type="submit" value="submit"> -->
        </form>
    </center>
</body>
</html>