<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Access Records</h1>
            <label for="na">Name</label>
            <select name="na" id="na" multiple>
                {% for wo in web %}
                    <option value="{{wo}}">{{wo.name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="submit">
        </form>
        
    </center>
</body>
</html>