<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="POST">
            {% csrf_token %}
            <h1>update topic</h1>
            <label for="topic">topic name</label>
            <select name="topic" id="topic" multiple>
                {% for ao in topics %}
                <option value="{{ao}}">{{ao.name}}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="new">New name</label>
            <input type="text" name="new" id="new">
            <br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>